// Register Modal
#registerModal.auth-modal.modal.fade(tabindex='-1', aria-labelledby='registerModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-header
                h4#registerModalLabel.modal-title.text-uppercase.fw-bold.mb-0
                    i.fas.fa-user-plus.me-2
                    | Create Account
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body
                .alert.alert-danger.d-none#registerErrorAlert
                .alert.alert-success.d-none#registerSuccessAlert
                
                form#registerForm(onsubmit='return false;')
                    .mb-3
                        label.form-label.fw-bold(for='registerUsername') Username
                        .input-group
                            span.input-group-text
                                i.fas.fa-user
                            input#registerUsername.form-control(type='text', placeholder='Choose a username...', required)
                    
                    .mb-3
                        label.form-label.fw-bold(for='registerEmail') Email Address
                        .input-group
                            span.input-group-text
                                i.fas.fa-envelope
                            input#registerEmail.form-control(type='email', placeholder='Enter your email...', required)
                    
                    .mb-3
                        label.form-label.fw-bold(for='registerBirthday') Birthday
                        .input-group
                            span.input-group-text
                                i.fas.fa-calendar
                            input#registerBirthday.form-control(type='date', required)

                    .mb-4
                        label.form-label.fw-bold(for='registerPassword') Password
                        .input-group
                            span.input-group-text
                                i.fas.fa-lock
                            input#registerPassword.form-control(type='password', placeholder='Choose a secure password...', required)
                            button#registerTogglePassword.btn.btn-outline-secondary(type='button')
                                i.fas.fa-eye
                    
                    .d-grid
                        button.btn.btn-primary.btn-xl.fw-bold(type='submit')
                            i.fas.fa-user-check.me-2
                            | Register
                            
                .text-center.mt-4
                    span.text-muted Already have an account? 
                    a#linkToLogin.fw-bold.text-primary(href='#') Login here
